<p>Showing content  for program {{programId()}}</p>

<mat-list role="list">
    @for (week of program()?.weeks; track week.id) {
        <p>{{ week.title }}</p>
        <mat-selection-list>
            @for (workout of week.workouts; track workout.id + $index) {
                @if (!workout.isRest) {
                    <mat-list-item [routerLink]="['/workouts/' + workout.id]"  role="listitem">{{ workout.title }}</mat-list-item>
                } @else {
                    <mat-list-item disabled="true" role="listitem">{{ workout.title }}</mat-list-item>
                }
            }
            </mat-selection-list>
        }
    </mat-list>

<button (click)="onAddWeightLog()" mat-stroked-button>
    add weight to exercise
</button>