    <mat-selection-list>
        @for (exercise of workout()?.exercises; track exercise) {
            <mat-card appearance="outlined">
                <mat-card-content>
                    <p> WARM UP </p>
                </mat-card-content>
                <mat-card-content>
                    @for (w of exercise.warmUp; track w.id) {
                        <mat-list-item  role="listitem">{{ w.title }}</mat-list-item>
                        <mat-divider></mat-divider>
                    }
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <p> MAIN </p>
                </mat-card-content>
                <mat-card-content>
                    @for (m of exercise.main; track m.id) {
                        <mat-list-item  role="listitem">{{ m.title }}</mat-list-item>
                        <mat-divider></mat-divider>
                    }
                </mat-card-content>
            </mat-card>
        }
    </mat-selection-list>
