<div class="mt-10 ml-5 mr-5">
  <p class="font-mono text-l tracking wide">{{  builtWorkout().title }}</p>
  @for (exercise of builtWorkout().exercises; track exercise) {
    <p class="text-xl font-mono">Warm-up</p>
    @for (w of exercise.warmUp; track w.id + $index) {
      <div class="font-mono divide-y">
        <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-5">
          <div class="md:flex">
            <div class="md:flex-shrink-0">
              <img class="h-48 w-full object-cover md:w-48" [src]="w.image" alt="Event image"/>
            </div>
            <div class="p-8">
              <p class="block mt-1 text-lg leading-tight font-medium text-black">
                {{w.title}} 
              </p>
              <p class="mt-2 text-gray-500">
                {{w.sets}} x {{w.duration ? w.duration + "s" : w.reps + " reps"}}
              </p>
              <p class="mt-2 text-gray-500">{{w.rest}}sec break</p>
            </div>
          </div>
        </div>
      </div>
    }
    <p class="text-xl font-mono">Workout</p>
    @for (main of exercise.main; track main.id + $index) {
      <div class="font-mono divide-y">
        <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-5">
          <div class="md:flex">
            <div class="md:flex-shrink-0">
              <img class="h-48 w-full object-cover md:w-48" [src]="main.image" alt="Event image"/>
            </div>
            <div class="p-8">
              <p class="block mt-1 text-lg leading-tight font-medium text-black">
                {{main.title}} 
              </p>
              <p class="mt-2 text-gray-500">
                {{main.sets}} x {{main.duration ? main.duration + "s" : main.reps + " reps"}}
              </p>
              <p class="mt-2 text-gray-500">{{main.rest}}sec break</p>
            </div>
          </div>
        </div>
      </div>
    }
  }
</div>
